{erl_opts, [debug_info]}.

{port_envs, [{"darwin|openbsd|freebsd", "LDFLAGS", "$LDFLAGS -liconv"},
             {"openbsd", "CFLAGS", "$CFLAGS -I/usr/local/include"},
             {"openbsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"},
             {"freebsd", "CFLAGS", "$CFLAGS -I/usr/local/include"},
             {"freebsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"}]}.

{so_specs, [{"priv/lib/iconv_erl.so", ["c_src/iconv_erl.o"]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
